@import url(normalize.css);
body{
    font-family: ff-tisa-web-pro, Georgia, sans-serif;
    line-height: 1;
    color: #333;

}
.container {

    padding-top: 50px;
}
.logo{
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
}

a {
    color:#34AC98;
}

a:hover {color: #EC6635;
    text-decoration: none;
}
ul li {
    list-style: none;
}

nav ul{
    padding-left: 0;
}


nav ul li a {
    display: block;
    font-size: 1em;
    line-height: 2em;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position-x:0 ;
    margin-bottom: 10px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

nav ul li a:hover {
    background-position-x:5px;
}

a#i-tastemakers {
    background-image: url("../images/vilki.jpg");
}
a#i-blog{
    background-image: url("../images/blog.jpg");
}
a#i-vendors {
    background-image: url("../images/check.jpg");
}
a#i-contribute {
    background-image: url("../images/camera.jpg");
}
a#i-about {
    background-image: url("../images/about.jpg");
}


.podzagvmenu {
    display: block;
    border-bottom: 1px dashed #E5E5E5;
    padding-bottom: 2px;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-top: 50px;
}

.button {

    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 1px 1px 2px #F5F5F5;
    -moz-box-shadow: 1px 1px 2px #F5F5F5;
    box-shadow: 1px 1px 2px #F5F5F5;
    font-size: 0.7em;
    display: block;
    padding: 10px;
    text-align: center;
text-indent: 7px;
    background-position: left 5px top 45%;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.button:hover {    background-color: #EFF8F7;}

.btwit {    background-image: url("../images/lasttwit.jpg"); }

.bface {    background-image: url("../images/lastface.jpg");}


.minitext {    font-size: 0.7em;}




.slider {
    height: 445px;
    width: 100%;
    background-image: url("../images/sli.jpg");
    background-repeat: no-repeat;
    background-position: right 0px;
    position: relative;}


.podpisi{ display: block;
    position: absolute;
    bottom: 90px;
    right: 0px;
    width: 60%;
    font-style: italic;
}
.podpisi h1{
    padding: 10px;
    background: #fff;
    font-size: 1.5em;
    color: #000;
    text-align: center;
    right: 0;
    margin-bottom: 0;
    display: inline-block;
}

.podpisi h2{
    background: #000;
    font-size: 1em;
    color: #fff;
    padding: 10px;
    text-align: center;
    right: 0;
    display: inline-block;
}



.pods {background: #EFF8F7;
    font-size: 0.8em; border-right: 1px solid #D3EDE9;}
.pods:last-child {border: none;}
.pods a {
    margin-top: 20px;
    display: block;}

.pods h3 {    font-size: 1.5em;}
.pods p {font-size: 0.9em;}

.minitext {line-height: 1.7em;}
.active {
    color: #34AC98;
    background: #D9EFEC;
    text-shadow: 0 1px 0 #FAFDFC;}


.subscribe {border-bottom: 1px dashed #E5E5E5; padding-top: 15px; border-top: 1px dashed #E5E5E5; margin-top: 20px;}

.mail input {display: inline-block;}

.mail input:first-child{
    width: 240px;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    height: 28px;
    text-indent: 4px;
    font-size: 0.9em;}


.submit {
    border-radius: 4px;
    border: 1px solid;
    border-color: #ddd #bbb #999;
    background-image: url("../images/button.png");
    font-size: 0.9em;
    padding: 5px;


}

.subscribe div:first-child p {font-size: 0.7em; margin-left: 40px; margin-top: 3px; }
.subscribe div:first-child {   background-image: url("../images/mail.jpg"); background-repeat: no-repeat; background-position: left 10px top 0px; }

.blocknews {margin-top: 20px;}
.new img {width: 100%; padding: 10px; border: 1px solid #E5E5E5;}
.new h3  {    font-size: 1em; margin-top: 10px;}
.new p {    font-size: 0.8em; line-height: 1.4em; color: #333;}
.new p:last-child {  color: #34AC98;}

.footer {border-top: 2px solid #E5E5E5; margin-top: 20px; color: #34AC98; font-size: 0.7em; line-height: 1.6em;}
.footer .copy {margin-top: 20px;}

.solial li {display:inline-block;
    margin-top: 20px;
    margin-left: 10px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: top 3px right -15px;
    cursor: pointer; opacity: 0.4;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
}


.solial li:hover {opacity: 1;}
.twitter {background: url("../images/twitter.jpg");}
.facebook {background: url("../images/facebook.jpg");}
.rss {background: url("../images/rss.jpg");}



@media (max-width: 1199px) {

    .container {

        padding-top: 20px;
    }
nav ul li {display: inline-block; padding-left: 20px;}
    nav ul li a {padding-top: 35px; background-position: center; padding-left: 0px; }
    nav {display: inline-block; float: right; margin-top: 30px;}
    .pomentw {display: none;}
    .slider {background-size: cover;}
    .pods p {display: none;}
    .pods h3 {
        text-align: center;
}

    .pods a {
        margin-top: 10px;}

}



@media (max-width: 768px) {

    nav ul li a {background-image: none!important; font-size: .8em; padding-top: 20px;}

    .logo {
        margin-bottom: 20px; }

    .slider {height: 300px;
        }
.pods {display: none;}

.podpisi {width: 100%;     bottom: 0px;}
    .podpisi h1 { display: block;     font-size: 0.9em; text-align: left;}
    .podpisi h2 { display: block;     font-size: 0.7em; text-align: left; margin-bottom: 0px;}
    .mail {text-align: left!important;}
    .mail input:first-child {
        width: 320px;}
}

